RewriteEngine on 
RewriteCond %{HTTP_HOST} ^(www.)?blog.energiy.xyz$ 
RewriteCond %{REQUEST_URI} !^/public/ 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /public/$1 
RewriteCond %{HTTP_HOST} ^(www.)?blog.energiy.xyz$ 
RewriteRule ^(/)?$ public/index.php [L]